::-webkit-scrollbar {
    width: 6px;
    height: 7px;
    }
    
    ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(180, 180, 180); 
    border-radius: 10px;
    }
    
    ::-webkit-scrollbar-thumb {
    background:#3398FF; 
    border-radius: 10px;
    }
    
    ::-webkit-scrollbar-thumb:hover {
    background:rgb(112, 171, 231);
    }